# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# BGM
/assets/audio/1. Neon Road Trip.wav
/assets/audio/2. Spaceman.wav
/assets/audio/3. Psychedelia Flashback.wav
/assets/audio/4. No Pressure Trance.wav
/assets/audio/5. Romance on Neon.wav
/assets/audio/6. 80s, Disco, Life.wav
/assets/audio/7. The SynthRave.wav
/assets/audio/8. ZoomBeats.wav
/assets/audio/9. Space Invaders.wav
/assets/audio/10. Laser Party.wav
/assets/audio/11. Flanger Party.wav
/assets/audio/12. SynthBomb.wav
/assets/audio/13. Night Life.wav
/assets/audio/14. Retro Noir.wav
/assets/audio/15. Trickle Bass.wav
